.chart-wrapper {
  margin: 40px auto;
  max-width: 700px;
  background: #ffffff10;
  padding: 20px;
  border-radius: 16px;
  /* box-shadow: 0 8px 16px rgba(220, 219, 219, 0.2); */
  color: #fff;
  text-align: center;
}

.chart-title {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}
